@font-face {
    font-family:"Grenale-ConBla";
    src:local("assets\font\Grenale-ConBla.otf");
}
@font-face {
    font-family: "Ambit-Regular";
    src: local("/assets/font/Ambit-Regular.ttf");
}

:root {
    --blue:#0066a5;
    --white:#fff;
    --black:#000000;
    --green:#0aa350;
    --yellow:#ffc000;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: url(https://res.cloudinary.com/timx-design/image/upload/v1617895978/Selvolution/Background_texture_zlhgc2.png);
}

.container {
    max-height: 100vh;
}

.left_contain {
    width: 80vw;
    margin-left: 8vw;
}

.top_bar {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.top_bar >div > img {
    width: clamp(6rem, 10vw, 9rem);
}

h1 {
    font-size: clamp(2rem, 6vw, 4rem);
    margin-top: 17vh;
    margin-bottom: 11vh;
}
h1 > span {
    color:var(--green) ;
}

.register {
    margin-left: -4vw;
}
.register a {
    display: inline !important;
}

.register_bg {
    background-color: var(--yellow);
    width: 20px;
    height: 35px;
    position: relative;
    top: -24px;
    left: 20px;
    z-index: -1;
}

a {
    display: block;
    text-decoration: none;
    border: none;
    padding: 17px 25px;
    font-size: 20px;
    font-family: "Ambit-Regular";
    background-color: none;
    color: var(--black);
    width: 150px;
}

.cta_button {
    margin-bottom: 10em;
    display: flex;
}


.cta_button>a:nth-child(1) {
    background-color: black;
    color: white;
}


.tagline {
    display: flex;
   
}

.tagline > h2 {
    margin: 0 5vw;
    font-size: clamp(1rem, 1.5vw, 4rem);

}

.tagline > h2:nth-child(1) {
    margin-left: 0 !important;
}

.right {
    width: 50vw;
}
.model {
    width: 40vw;
    position: fixed;
    bottom: 0;
    right: 0;
}

@media screen and (max-width: 730px) {
    .right_contain{
        display: none;
    }

    .cta_button {
        flex-direction: column;
        margin-bottom: 20vh;
    }
    h1 {
        text-align: center;
        font-size: clamp(2.5rem, 6vw, 4rem);
    }
    a{
        margin: 0 auto;
        width: 250px;
        text-align: center;
    }
    .tagline {
        justify-content: center;
       
    }
}